<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Task</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @todos.each do |todo| %>
      <tr>
        <td><%= todo.title %></td>
        <td><%= todo.task %></td>
        <td><%= link_to 'Show', todo %></td>
        <td><%= link_to 'Edit', edit_todo_path(todo) %></td>
        <td><%= link_to 'Destroy', todo, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
    <div class="jumbotron">
      <h1>What is Kikupon PRJ ?</h1>
      <p>Under construction</p>
      <p>
        <a class"btn btn-primary btn-lg">Learn more</a>
      </p>
    </div>
  </tbody>
</table>

<br>

<%= link_to 'New Todo', new_todo_path %>
